# .gitignore
# Node.js dependencies
node_modules/
cli-tool/node_modules/
auction-api/node_modules/

# Environment variables
.env
cli-tool/.env
auction-api/.env

# Logs
npm-debug.log*
yarn-debug.log*
.log
